.MuiSvgIcon-root {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.MuiAlert-message a {
    color: rgb(151, 0, 151) !important;
    text-decoration: none !important;
}

.warning .MuiSvgIcon-root {
    color: #ffe8c5 !important;
}

.warning .MuiAlert-message {
    color: #ffe8c5 !important;
}

.warning .MuiPaper-root.MuiAlert-root {
    background: #F68A1C !important;
    align-items: center !important;
}

.error .MuiSvgIcon-root {
    color: #D7DADC !important;
}

.error .MuiAlert-message {
    color: #D7DADC !important;
}

.error .MuiPaper-root.MuiAlert-root {
    background: #D84646 !important;
    align-items: center !important;
}

.success .MuiSvgIcon-root {
    color: #D7DADC !important;
}

.success .MuiAlert-message {
    color: #D7DADC !important;
}

.success .MuiPaper-root.MuiAlert-root {
    background: #4E9A51 !important;
    align-items: center !important;
}

.info .MuiSvgIcon-root {
    color: #D7DADC !important;
}

.info .MuiAlert-message {
    color: #D7DADC !important;
}

.info .MuiPaper-root.MuiAlert-root {
    background: #1E95D6 !important;
    align-items: center !important;
}