.MuiPaper-root.MuiDialog-paper {
    background: #262B36 !important;
    color: #D7DADC !important;
    border-radius: 20px !important;
}

.MuiDialogContentText-root.MuiTypography-root {
    color: #D7DADC !important;
}