.topics {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    margin: auto;
    margin-top: 20px;
}

aside {
    float: right;
    position: relative;
    right: 25vw;
    top: 0px;
    width: 10vw;
}

.sort-options::before {
    width: calc(10vw - 40px);
}

@media all and (max-width: 2100px) {
    .topics {
        max-width: 40%;
    }

    aside {
        right: 20vw;
        width: 15vw;
    }

    .sort-options::before {
        width: calc(15vw - 40px);
    }
}

@media all and (max-width: 1700px) {
    .topics {
        max-width: 45%;
    }

    aside {
        right: 18vw;
    }
}

@media all and (max-width: 1400px) {
    .topics {
        max-width: 50%;
    }

    aside {
        width: 20vw;
        right: 14vw;
    }

    .sort-options::before {
        width: calc(20vw - 40px);
    }
}

@media all and (max-width: 1200px) {
    .topics {
        max-width: 55%;
    }

    aside {
        right: 11vw;
    }
}

@media all and (max-width: 1000px) {
    .topics {
        max-width: 62%;
    }

    aside {
        width: 16vw;
        right: 7vw;
        padding: 10px 10px;
    }

    .sort-options::before {
        width: calc(12vw - 20px);
    }
}

@media all and (max-width: 750px) {
    .topics {
        max-width: 70%;
    }

    aside {
        right: 4vw;
    }
}

@media all and (max-width: 700px) {
    .topics {
        max-width: 80%;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    aside {
        width: 80%;
        right: 0;
        top: 10px;
        padding: 10px 20px;

    }

    .sort-options::before {
        width: calc(90% - 40px);
    }
}

@media all and (max-width: 500px) {
    .topics {
        max-width: 85%;
    }
}

.no-posts-message {
    font-size: 1.5rem;
    text-align: center;
}

.save-topic-text {
    margin-right: 10px;
}