@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

.topic {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    outline: 1px solid #282C34;
    background: #262A37;
    padding: 10px 15px 15px 15px;
    margin: 20px 0;
}

.topic.active-hover:hover {
    outline: 1px solid #313846;
}

.topic-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topic-info a {
    text-decoration: none;
    color: inherit;
}

.topic-info-creation-wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.topic-info-category {
    font-size: 2vmin;
    margin-right: 10px;
    color: lightgray;
}

.topic-info-category:hover {
    text-decoration: underline;
}

.topic-info-creation {
    font-size: 1.5vmin;
    color: gray;
}

.topic-info-creation-posted-by {
    margin-right: 7px;
}

.topic-info-creation-posted-by-username:hover {
    text-decoration: underline;
}

.topic-info-creation-date {
    font-size: 1.4vmin;
}

.topic-info-follow-category-btn {
    font-size: 1.2vmin !important;
    text-transform: none !important;
}

.topic-info-follow-category-btn.unfollow-category-btn {
    color: lightblue;
}

.topic-content {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    margin-bottom: 10px;
}

.topic-content.hover:hover {
    cursor: pointer;
}

.topic-content-img {
    align-self: center;
}

.topic-content-description {
    padding: 5px 12px;
    font-size: 2vmin;
    color: gray;
}

.topic-content-description.scrollbox {
    max-height: 30vh;
}

.topic-content-description-text {
    margin: 0;
}

.topic-content-img-image {
    max-width: 100%;
    width: auto;
    border-radius: 5px;
}

.scrollbox {
    overflow: auto;
}

.topic-title {
    font-size: 3.2vmin;
    margin: 5px 0 10px 0;
}

.topic-functionality-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2vmin;
    color: gray;
}

.topic-functionality-list-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.far, .fas {
    font-size: 3vmin;
    margin-right: 6px;
}

.fas.fa-heart {
    color: red;
}

.topic-functionality-list-item-likes:hover>.far.fa-heart {
    color: red;
}

.fas.fa-bookmark {
    color: rgb(255, 208, 0);
}

.topic-functionality-list-item-follow:hover>.far.fa-bookmark {
    color: rgb(255, 208, 0);
}

.topic-functionality-list-item-comments:hover>.fas.fa-comments {
    color: #D7DADC;
}