@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

.topics {
    display: flex;
    flex-direction: column;
}

.topic {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    outline: 1px solid #282C34;
    background: #262A37;
    padding: 10px 15px 15px 15px;
    margin: 20px 0;
}

.topic.active-hover {
    outline: 1px solid #313846;
}

.topic-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topic-info-creation-wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.topic-info-category {
    font-size: 2vmin;
    margin-right: 10px;
    color: lightgray;
}

.topic-info-creation {
    font-size: 1.5vmin;
    color: gray;
}

.topic-info-creation-posted-by {
    margin-right: 7px;
}

.topic-info-follow-category-btn {
    font-size: 1.5vmin;
}

.topic-info-follow-category-btn.unfollow-category-btn {
    color: lightblue;
}

.topic-content {
    display: flex;
    flex-direction: column;
    max-height: 66vh;
    margin-bottom: 10px;
}

.topic-content-img {
    align-self: center;
}

.topic-content-img-image {
    max-width: 100%;
    width: auto;
}

.scrollbox {
    overflow: auto;
}

.topic-title {
    font-size: 3.5vmin;
    margin: 5px 0 10px 0;
}

.topic-functionality-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2vmin;
    color: gray;
}
.topic-functionality-list-item{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.far, .fas{
    font-size: 3vmin;
    margin-right: 6px;
}
.fas.fa-heart{
    color: red;
}
.fas.fa-bookmark{
    color: rgb(255, 208, 0);
}