.comments {
    margin-top: 15px;
}

.comments::before {
    content: "";
    height: 3px;
    position: absolute;
    margin-top: 0px;
    background: #313846;
    border-radius: 5px;
}

.comments-title {
    font-size: 0.75rem;
    color: gray;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment-form-text {

    min-height: 15vh;
    background: #282C34;
    color: #D7DADC;
    font-size: 0.9rem;
    border: 1px solid #313846;
    border-radius: 10px;
    padding: 5px 10px;
}

.comment-form-text:focus {
    outline: none;
}

.comment-form-btn {
    background: #262A37;
    color: #D7DADC;
    border: 2px solid #313846;
    border-radius: 15px;
    font-size: 1rem;
    padding: 0.5vmin 1.25vmin;
    margin-top: 7px;
}

.comment-form-btn:hover {
    cursor: pointer;
}

@media all and (min-width: 1921px) {
    .comment-form-text {
        max-width: 56vw;
        min-width: 56vw;
    }

    .comments::before {
        width: 56vw;
    }
}

@media all and (max-width: 1920px) {
    .comment-form-text {
        max-width: 76vw;
        min-width: 76vw;
    }

    .comments::before {
        width: 76vw;
    }
}@media all and (max-width: 600px) {
    .comment-form-text {
        max-width: 87vw;
        min-width: 87vw;
    }

    .comments::before {
        width: 87vw;
    }
}