.user-avatar {
    margin-left: 10px;
}

.user-avatar:hover {
    cursor: pointer;
}

.user-menu {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 120px;
    right: 100px;
    border: 2px solid #313846;
    border-radius: 20px;
    overflow: hidden;
}
.user-menu-links a:hover{
    background: none;
}
.user-menu-info, .user-menu-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-menu-info {
    background: #323D57;
    padding: 15px;
}

.user-menu-links {
    background: #262A37;
}

.user-menu-links .dropdown-content-link {
    width: 100%;
    text-align: center;
}

.user-menu-info-email {
    margin-top: 0;
}

@media all and (max-width: 750px) {
    .user-menu {
        width: 99vw;
        right: 0px;
        top: 150px
    }
}