*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 2vmin;
  color: #D7DADC;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  background: #282c34;

}

@media all and (max-width: 600px) {
  html {
    font-size: 3vmin;
  }
}

main {
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282C34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c4253;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}