*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282c34;
  color: #D7DADC;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.5vmin;
}

main {
  max-width: 65%;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282C34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D7DADC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}